<!DOCTYPE html>
<html>
    <head>
        <title>journey Page</title>
        <link rel="stylesheet" href="/stylesheets/basket.css" />
        <link
        rel="stylesheet"
        href="https://use.fontawesome.com/releases/v5.15.2/css/all.css"
        integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu"
        crossorigin="anonymous"
        />
        <script src="https://js.stripe.com/v3/"></script>
    </head>
    <body>
        <header><%- include('header',{routename}); %></header>
        <main>
            <div class="container">
                <% if(myJourneys.length < 1){%>
                    <h2>No journeys selected, please <a href="/"><button id="selectone" class="selectrip">Select One</button> </a></h2>
                    <%} else {%>
                        <div id="buttonsup">
                        <h2>My tickets:</h2>
                        <a href="/" class="buttonsearchnew"><button type="submit" id="" class="selectrip">Search a new journey</button></a>
                        </div>
                        <table id="table">
                        <thead>
                            <th>N°</th>
                            <th>Journey</th>
                            <th>Date</th>
                            <th>Departure Time</th>
                            <th>Price</th>
                            <th>ticket(s) quantity</th>
                            <th>journey total price</th>
                            <th></th>
                        </thead>
                        <tbody>
                            <%for(i=0;i<myJourneys.length;i++){%>
                            <tr>
                                <td><%=i+1%></td>
                                
                                <td><%=myJourneys[i].trip.departure%> / <%=myJourneys[i].trip.arrival%></td>
                                <td><%=formatDate(myJourneys[i].trip.date)%></td>
                                <td><%=myJourneys[i].trip.departureTime%></td>
                                <td><%=myJourneys[i].trip.price%>€</td>
                                <td>
                                    <form action="/refresh" method="POST" class="formflex">
                                        <input type="number" name="quantity" id="newquantity" value="<%=myJourneys[i].quantity%>">
                                        <input class="line" type="hidden" name="id" value="<%=myJourneys[i].trip._id%>">
                                        <button><i class="fas fa-sync-alt"></i></button>
                                    </form>
                                    <!-- <a href="/refresh?id=<%=myJourneys[i].trip._id%>&quantity=<%=myJourneys[i].quantity%>"><i class="fas fa-sync-alt"></i></a></td> -->
                                <%var totaljourney = myJourneys[i].trip.price*myJourneys[i].quantity%>
                                <td><%=totaljourney%>€</td>
                                <td><a href="/remove?id=<%=myJourneys[i].trip._id%>"><i class="fas fa-trash-alt"></i></a></td>
                            </tr>
                            <%}%>
                        </tbody>
                        <tfoot id="totaline">
                            <th id="totaltxt" class="firstchild">Total</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <%var total = 0;
                        for(i=0;i<myJourneys.length; i++){
                            total += myJourneys[i].trip.price*myJourneys[i].quantity;
                        } %>
                            <th ><%=total%>€</th>
                            <th class="lastchild"></th>
                        </tfoot>
                    </table>
                    <div class="buttoncheck">
                    <button type="submit" id="checkout-button" class="selectrip">Checkout</button>
                    </div>
                    <%}%>
            </div>
        
        
        </main>
        <footer>
        <p>© Judith Poulvelarie & Maxime Lapeyrere - La Capsule Batch 28</p>
        </footer>

    <!-- scripts -->
    <script src="/javascripts/stripe_payment.js"></script>

    </body>
</html>
