<!-- <% if(journeys.length < 1){%>
            <div id="result">
                <h2>tickets available on <%=journeys[0].date%></h2>
                <%for(i=0; i<journeys.length; i++){%>
                    <div class="card">
                        <h4><%=journeys[i].departure%>/<%=journeys[i].arrival%></h4>
                        <p>train departure time at: <%=journeys[i].departureTime%></p>
                        <div>
                            <h4><%=journeys[i].price%>€</h4>
                            <button>Select!</button>
                        </div>
                    </div>
                <%}%>
            </div>
        <%}%> -->